<a href="https://colab.research.google.com/github/allenpatrickargente/CPEN-21A-CPE-1-1/blob/main/loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##For loop Statement

In [7]:
week=["Sunday","Monday","Tuesday","Wdenesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wdenesday
Thursday
Friday
Saturday

Break Statement

In [11]:
week=["Sunday","Monday","Tuesday","Wdenesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wdenesday
Thursday

In [15]:
week=["Sunday","Monday","Tuesday","Wdenesday","Thursday","Friday","Saturday"]
for x in week:
  if x=="Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wdenesday

Looping through a String

In [16]:
for x in"week":
  print(x)

w
e
e
k

The Range() Function

In [27]:
for x in range(6):
  print(x)

for x in range(2,6):
  print("Example 2",x)

0
1
2
3
4
5
Example 2 2
Example 2 3
Example 2 4
Example 2 5

Nested Loops

In [30]:
adjective=["red","big","tasty"]
fruits=["apple","banana","cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

##While Loop Statement

In [31]:
i=1
while i<6:
  print(i)
  i+=1#i=i+1 Assignment operator

1
2
3
4
5

The Break Statement

In [34]:
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

In [36]:
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1 #Assignment operarotor for addition

1
2
3

In [44]:
i=1
while i<6:
  i+=1 #Assignment operator for addition
  if i==3:
    continue
  else:
    print(i)

2
4
5
6

else statement

In [49]:
i=1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longerless than 6")

1
2
3
4
5
i is no longerless than 6

####Application 1
Create a Python Program that displays:
Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10 (in vertical)

In [62]:
hello=["Hello 0","Hello 1","Hello 2","Hello 3","Hello 4","Hello 5","Hello 6","Hello 7","Hello 8","Hello 9","Hello 10"]
for x in hello:
  print(x)
i=0
while i<=10:
  print("Hello",i)
  i+=1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10
Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

###Application 2

In [73]:
i=3
while i<10:
  print(i)
  if i==9:
    break
  i+=1

3
4
5
6
7
8
9